body {min-width:80rem;}

button {
  width: 100%;
  border: 0;
  background-color: white;
}

.button-wrap {border: 1px solid black;}
.img-wrap {width: 4%;}

.w-30 {width:30%;}

.login-wrapper {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
}
