body {min-width:80rem;}


/* Utilities */
.w-30 {width:30%;}




/* Body */

.login-wrapper > div {
  margin-bottom: 2.5rem;
}


/* buttons-wrapper */

.img-wrap {width: 6%;}

.login-wrapper {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
}


/* or-wrapper */

.or-wrapper::before,
.or-wrapper::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid lightgray;
  margin: 0 0.75rem;
}


/* input-wrapper */

.input-wrapper > * {
  display: block;
  margin-bottom:0.75rem;
}

.input-wrapper input {
  padding:1rem;
  font-size: 1.1rem;
}





/* Buttons */

button {
  width: 100%;
  border: 0;
  background-color: white;
}

.button-wrap {
  width:100%;
  border: 1px solid rgb(221, 221, 221);
  padding:0.6rem;
  margin-bottom: 1rem;
}

.button-wrap:hover {
  cursor: pointer;
  background-color:rgb(245, 245, 245);
  border: 1px solid aliceblue;
}

.button-wrap * {
  cursor:inherit;
  background-color: inherit;
}




/* Text */

.login-wrapper h2 {
  text-align: center;
}

.button-wrap button {
  font-size: 1.1rem;
}