* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */

.d-flex {display: flex;}
.justify-content-sb {justify-content: space-between;}
.justify-content-c {justify-content: center;}
.align-items-c {align-items: center;}
.gap {gap:2rem;}


.container-1 {
  max-width: 80rem;
  width: 80%;
  margin: 0 auto;
}

.container-2 {
  width: 90%;
  margin: 0 auto;
}

/* Header */ 

header {
  background-color: aliceblue;
  padding: 1rem;
}