* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

:root {
  --blue-btn: #0061fe;
  --light-blue: #b4d0e6;
}

/* Utilities */

.d-flex {display: flex;}
.justify-content-sb {justify-content: space-between;}
.justify-content-c {justify-content: center;}
.align-items-sb {align-items: space-between;}
.align-items-c {align-items: center;}
.gap {gap:3rem;}
.gap-small {gap:0.6rem;}
.flex-wrap {flex-wrap: wrap;}

.container-1 {
  max-width: 100rem;
  width: 60%;
  margin: 0 auto;
}

.container-2 {
  width: 85%;
  margin: 0 auto;
}

.col-3 {
  width:calc(100% /3);
  border: 1px solid lightgray;
  height: 80rem;
}

.col-3 > * {
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.border-small {
  width:30%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.099);
}



/* Images */
img { width: 100%;}
.left-nav img { height: 1.5rem; width: auto; }
.top-area-image img { width:70%;}

/* Header */ 
header { padding: 1rem;}
header nav { min-height: 3rem;}

/* Main */
.main-top-area { 
  background-color: var(--light-blue);
}

.top-area-text {width: 30%;}
.top-area-text > div {margin-bottom: 2.5rem;}
.top-area-text > div:last-child {margin-bottom: 1.3rem;}

.main-content-area {
  margin-top: 6rem;
}

.input-container {
  margin-bottom:2rem;
  margin-top:1rem;
}

.top-card {
  text-align: center;
  border-bottom: 1px solid lightgray
}

.main-card {
  padding: 2rem;
}

.main-card > * {
  margin-bottom: 1rem;
}

.main-top-card {
  margin-bottom: 3rem;
}

.main-top-card > * {
  margin-bottom: 0.8rem;
}

.main-card .border-small {
  margin-block: 3.5rem;
}



/* Text */

h1 { 
  font-size: 5rem; 
  font-weight: 800;
  padding-block: 4rem;
}

h2 {
  font-size: 2.5rem; 
  font-weight: 700;
  padding-block: 2rem;
}

.top-area-paragraph {line-height: 1.2rem;}
.top-area-text > div {
  font-size: 1rem;
  font-weight: 500;
}

.fa-arrow-down {
  font-size: 4rem;
}

.top-card, 
.main-card {
  font-size:0.8rem;
}

.price {font-size: 0.8rem;}
.user-timing {font-size: 0.8rem; color: gray;}
.fa-check {color: var(--blue-btn);}



/* btn */
.btn {
  display: inline-block;
  background-color: var(--blue-btn);
  color: white;
  
  padding-block: 1rem;
  padding-inline: 1rem;
}

nav .btn { padding-block: 0.6rem;}

.main-card .btn {
  text-align: center;
  width:100%;
}


/* Input + Label */

input[type="radio"] {
  accent-color: var(--blue-btn);
  margin-right: 0.5rem;
}

/* Position */
.below-h1-container {
  position: relative;
  background-color: var(--light-blue);
}

.top-area-image {
  text-align: right;

  position: absolute;
  top: 0;
}