* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-btn: #0061fe;
  --light-blue: #b4d0e6;
}

/* Utilities */

.d-flex {display: flex;}
.justify-content-sb {justify-content: space-between;}
.justify-content-c {justify-content: center;}
.align-items-c {align-items: center;}
.gap {gap:2rem;}


.container-1 {
  max-width: 80rem;
  width: 80%;
  margin: 0 auto;
}

.container-2 {
  width: 90%;
  margin: 0 auto;
}

/* Header */ 
header { padding: 1rem;}


/* Main */
.main-top-area { background-color: #b4d0e6;}
.top-area-text {width: 40%;}
.top-area-text > * {margin-block: 2rem;}


/* Images */
img { width: 100%;}